* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

body {
    background-color: var(--dark-10);
}

header {
    background-color: var(--dark-20);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 64px 0;
}

header > h1 {
    font-family: var(--font-space-grotesk);
    font-weight: 500;
    font-size: 40px;
    color: var(--dark-60);
}

header > h1 > span {
    color: var(--brand-color);
}

header > input[type="text"] {
    background-color: var(--dark-30);
    padding: 16px 24px;
    border-radius: 8px;
    width: 1200px;
    color: var(--dark-60);
    font-family: var(--font-inter);
    font-weight: 500;
}

header > input::placeholder {
    color: var(--dark-50);
}